{% extends "base.html" %}
{% block title %}Account Settings{% endblock %}

{% block content %}
<div class="profile-circle" style="width: 150px; height: 150px; margin-top: 5%;;">
    {% if user.profile_image %}
        <img src="{{ url_for('static', filename='uploads/' ~ user.profile_image) }}" alt="Profile Image">
    {% else %}
        <span>{{ user.gender[0] if user.gender else '?' }}</span>
    {% endif %}
</div>
<div class="account-container">
    <h1>Account Settings</h1>



    <form method="POST" enctype="multipart/form-data" style="margin-bottom: 5%;" class="account-form">
        <label>Name:</label>
        <input type="text" name="name" value="{{ user.name }}" required>

        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required>

        <label>Gender:</label>
        <select name="gender">
            <option value="Male" {% if user.gender=='Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if user.gender=='Female' %}selected{% endif %}>Female</option>
        </select>

        <label>Upload Profile Image:</label>
        <input type="file" name="profile_image" accept="image/*">

        <label>New Password:</label>
        <input type="password" name="password">

        <button type="submit" class="btn">Update Account</button>
    </form>
    <a href="{{ url_for('logout') }}" class="btn" style="color: white;">Logout</a>
</div>
{% endblock %}
